body {
 padding: 0px;
 margin: 0px; 
}

/*#title-bar {
 -webkit-app-region: drag;
 height: 24px; 
 background-color: darkviolet;
 padding: none;
 margin: 0px; 
}*/

#title {
 position: fixed;
 top: 0px;
 left: 6px; 
}

#title-bar-btns {
 -webkit-app-region: no-drag;
 /*position: fixed;*/
 top: 0px;
 right: 0px;
    height: 100%;
}

#container {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#min-btn {
    height: 100%;
}

#max-btn {
    height: 100%;
}

#close-btn {
    height: 100%;
}

